!!!
%html
  %head
    %title= "FileStore"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :content => "FileStore", :name => "description" }
    = javascript_include_tag 'application'
    /[if lt IE 9]
      = javascript_include_tag 'html5shiv'
    = stylesheet_link_tag 'application'
  %body
    .container
      = yield
